.header {
  background: rgba(255, 255, 255, 0.6);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__container {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
